.result {
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: yellow;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 6px 3px 2px 0px black;
    border: 2px solid white;
}

.first-operand {
    color: black;
}
