.user-data{
    width: 40%;
    height: 100%;
    display: flex;
    margin-top: 1vw;
}

.user-score img {
    width: 4.5vw;
    height: 4.5vw;
}

.user-name, .user-score {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
}

.user-score span, .user-name span {
    font-size: 2.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-right: 2vw;
    margin-left: 1vw;
    text-shadow: 1px 1px white;
}

.timer{
    font-size: 2.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-shadow: 1px 1px white;
    margin-top: 0.5vw;
}