.finish-block {
    position: absolute;
    width: 79%;
    height: 95vh;
    border-radius: 10px;
    margin: 20px auto; 
    top: 0;
    left: 10.4vw;
    align-items: center;
}

#arrow {
    width: 5vw;
    height: 5vw;
    position: absolute;
    left: 1vw;
    
}

#arrow:hover {
    width: 6vw;
    height: 6vw;
    cursor: pointer;
}

#close-window {
    width: 3vw;
    height: 3vw;
    position: absolute;
    right: 1.7vw;
    top: 0.7vw; 
}

#close-window:hover {
    width: 4vw;
    height: 4vw;
    cursor: pointer;
}


.wrapper-block {
    width: 70%;
    margin: 0 auto;
    background: white;
    height: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 50px 50px rgb(41, 40, 40); 
    
}

.message-block {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(90deg,transparent 735px, transparent 738px),linear-gradient(#bbb 1px,transparent 0px),linear-gradient(90deg,#bbb 1px,transparent 0px);
    background-size: 100% 100%, 20px 20px, 20px 20px;
    background-position: 0 0, -1px -1px, -1px 1px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 50px 50px rgb(41, 40, 40); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-shadow: 1px 2px 7px white;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.message-block p img {
    width: 2vw;
    height: 2vw;
}

.message-block img{
    width: 11vw;
    height: 12vw;
} 

.images {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}