@keyframes move-header{
    0% {
        margin-top: 0px;
    }
    20% {
        margin-top: 15px;
    }
    40% {
        margin-top: 20px;
    } 
    60% {
        margin-top: 18px;
    }
    80% {
        margin-top: 15px;
    }
    100% {
        margin-top: 0px;
    }
}

.snake-wrapper {
    width: 40%;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.head-snake {
    width: 10vw;
    height: 10vw;
    background-image: url(assets/images/headSnake.png);
    background-size: contain;
    background-repeat: no-repeat; 
    animation: move-header 3s ease 0s infinite;   
}

